# MongoDB Configuration
MONGODB_URI=mongodb+srv://lowrencedevu:RMAdCvyQYJjXEwO0@cluster1.pybq5vu.mongodb.net/?appName=Cluster1
# Server Configuration
PORT=5000
NODE_ENV=development

# JWT Configuration
JWT_SECRET=00ce1c1f55c7e448be1c8d94ee18d32eb91f3c73340afca787db7f58e06cfb58

# Firebase Configuration (Frontend)
REACT_APP_FIREBASE_API_KEY=AIzaSyByM-fQBOrAbEYtcfaCC6QQQTWywDrcINA
REACT_APP_FIREBASE_AUTH_DOMAIN=finance-ffa9e.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=finance-ffa9e
REACT_APP_FIREBASE_STORAGE_BUCKET=finance-ffa9e.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=303590099893
REACT_APP_FIREBASE_APP_ID=1:303590099893:web:b01d40515a5cb6005567fc
REACT_APP_FIREBASE_MEASUREMENT_ID=G-CELWBPK99C
REACT_APP_API_URL=http://localhost:5000
REACT_APP_WS_URL=ws://localhost:5000
