REACT_APP_FIREBASE_API_KEY=AIzaSyByM-fQBOrAbEYtcfaCC6QQQTWywDrcINA
REACT_APP_FIREBASE_AUTH_DOMAIN=finance-ffa9e.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=finance-ffa9e
REACT_APP_FIREBASE_STORAGE_BUCKET=finance-ffa9e.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=303590099893
REACT_APP_FIREBASE_APP_ID=1:303590099893:web:b01d40515a5cb6005567fc
REACT_APP_FIREBASE_MEASUREMENT_ID=G-CELWBPK99C
REACT_APP_API_URL=https://finance-app-1zlk.onrender.com
REACT_APP_WS_URL=ws://finance-app-1zlk.onrender.com
